*{
box-sizing:border-box;
font-family:Arial,sans-serif;
}

.titulo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:24px;
    font-weight:bold;
}

body{
margin:0;
background:rgb(255, 255, 255);
color:#ffffff;
text-align:center;
}

.btn-f11{
    position: fixed;
    top: 98px;
    right: 19px;
    padding: 1px;
    width: 25px;
    height: 25px;

    border: none;
    background:transparent;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: background .2s;
}

.btn-f11:hover{
    background:#ECB11F;
}

.btn-f11 img{
    width: 18px;
    height: 18px;
    display: block;
    pointer-events: none;
}

.footer{
    text-align:left;
    padding-top: 2px;
    padding-right: 15px;
    padding-left: 15px;
    font-size:13px;
    color: #919191;
    
}

.footer2{
    text-align:left;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    font-size:13px;
    color: #919191;
    
}


.mensagem{
    text-align:left;
    padding-left: 15px;
    padding-right: 15px;
    font-size:12px;
    color: #919191; 
}

.topo{
    background:#007E7A;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:10px 15px;
}

.container{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:20px;
    padding:10px;
    flex-wrap:nowrap;
}

.mapa{
    position:relative;
    width:1000px;
    height:550px;
    max-width:95vw;
    flex:0 0 auto;
    overflow:visible;
}

.mapa img{
    width:100%;
    height:100%;
    object-fit:fill;
    display:block;
    border:2px solid #007E7A;
    border-radius:5px;
}

.icone{
    width:28px;
    vertical-align:middle;
}

.valelogo{
    float:left;
    width:70px;
}

.npelogo{
    float:right;
    width:90px;
}



.area{
position:absolute;
border:2px solid transparent;
cursor:pointer;
z-index:5;
}

.area:hover{
border-radius:5px;
border-color:#007E7A;

}

.area::after{
    content:"";
    position:fixed;

    left:90px;
    top:105px;

    width:400px;
    aspect-ratio:500/320;

    background-image:var(--img);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    opacity:0;
    visibility:hidden;

    transition:opacity .2s;
    z-index:9999;

    border:2px solid #007E7A;
    border-radius:5px;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
}

.area:hover::after{
    opacity:1;
    visibility:visible;
    transition-delay:2s;
}

.selecionado{
background:rgba(255,0,0,.35);
border-color:red;
border-radius: 5px;
}



.explodiu{

animation:explosao .5s infinite;

}



@keyframes explosao{

0%{
background:red;
transform:scale(1);
}

50%{
background:orange;
transform:scale(1.2);
}

100%{
background:red;
transform:scale(1);
}

}



.painel{
    background:#007E7A;
    width:350px;
    height:550px; /* mesma altura do mapa */
    padding:30px;
    border-radius:5px;

    overflow-y:auto;
    overflow-x:hidden;
}

.painel::-webkit-scrollbar{
    width:5px;
}

.painel::-webkit-scrollbar-thumb{
    background:#ECB11F;
    
}

.painel::-webkit-scrollbar-track{
    background:#585a5a;
    border-top-right-radius: 5px;
}

.remove{
    display: block;
    text-align: center;
}

button{

width:200px;
padding:8.7px;
margin:2px;
cursor:pointer;
background:#919191;
color:white;
border:2px solid #007E7A;
border-radius:5px;
font-size:15px;
}


button:hover{
background:#ECB11F;
}



#lista{
text-align:left;
margin-top:15px;
}


.item{
display:block;
text-align: center;
background:#333;
padding:18px;
margin:5px;
border-radius:5px;

}

.confete{
    position:fixed;
    top:-20px;
    width:10px;
    height:10px;
    pointer-events:none;
    z-index:9999;
    animation:cair linear forwards;
}

@keyframes cair{
    0%{
        transform:translateY(-20px) rotate(0deg);
        opacity:1;
    }
    100%{
        transform:translateY(110vh) rotate(720deg);
        opacity:0;
    }
}

.vitoria{
    animation:vitoria 0.8s ease;
}

@keyframes vitoria{
    0%{transform:scale(1);}
    20%{transform:scale(1.05);}
    40%{transform:scale(0.98);}
    60%{transform:scale(1.04);}
    80%{transform:scale(0.99);}
    100%{transform:scale(1);}
}



@media (max-width:768px){

    

}

/* CELULAR EM PÉ */
@media (max-width:1047px) and (orientation:portrait){

    

    .container{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:flex-start;

        width:100%;
        max-width:100%;
        padding:10px;
        margin:0 auto;
        gap:20px;
    }


    .mapa{
        width:95vw;
        height:auto;
        aspect-ratio:900/565;
    }


    .npelogo,.valelogo{
        width:15%;
    }

    .painel{
        width:95vw;
        padding:20px;
    }


    button{
        width:90%;
        margin:3px auto;
        font-size:16px;
        
    }

    .area::after{
        display:none !important;
    }

    .btn-f11{
    display: none;
    }

    

}



/* CELULAR DEITADO */
@media (max-width:1200px) and (orientation:landscape){
    
    .remove{
       margin-left: 5px;
    }

    .item{
        display:block;
        background:#333;
        padding:29px;
        margin:0px;
        font-size: 10px;
    }

    .topo{
        padding: 0px 5px;
        margin-bottom: 5px;
    }

    .titulo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:10px;
    font-weight:bold;
    }

    .icone{
            width:15px;
        }

    .npelogo,.valelogo{
        width:3%;
    }

    .container{
    width:100%;
    max-width:100%;
    padding:0;
    gap: 0px;
    display:flex;
    align-items:flex-start;   /* importante */
}

    button{
        width:90%;
        margin:1px;
        font-size:10.5px;
    }

    .mapa{
    width:clamp(560px, 75vw, 640px);
    aspect-ratio:900/565;
    height:auto;
}

    .mapa img{
    
    border-radius:0px;
    border-bottom-left-radius: 5px;
}

    .painel{
    width:180px;
    height:calc(clamp(560px, 75vw, 640px) * 565 / 900);
    min-height:0;

    padding:15px;
    overflow:auto;
    display:flex;
    flex-direction:column;
    align-items: center;

    border-radius:0;
    border-bottom-right-radius:5px;
    }

    .area::after{
        display:none !important;
    }
    
    h2,h3{
        font-size:100%;
    }

    .footer,.footer2{
        font-size: 10px;
    }

    .btn-f11{
    display: none;
    }
    
     
}

    .painel::-webkit-scrollbar{
        width:5px;
        height: 5px;
    }

    .painel::-webkit-scrollbar-thumb{
        
        background:#ECB11F;
        border-radius:2px;
        
    }

    .painel::-webkit-scrollbar-track{
        background:#585a5a;
        border-bottom-right-radius:5px;

    }
    
